<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% extends 'libra/base.html' %}
{% load static %}
{% block content %}
<html>
<body>
  <h1>LysoCare Tracker</h1>
  <section>
    <p>Welcome to LysoCare Tracker, an innovative platform designed to enhance the patient experience while taking LysoThera. This interactive tool empowers you to monitor side effects and quality of life metrics throughout your treatment journey.</p>
    <p>As a patient, you can easily log your daily experiences, track symptom patterns, and share valuable insights with your healthcare team. For physicians, LysoThera Tracker provides a comprehensive view of patient progress, enabling personalized care adjustments and the ability to customize tracking parameters.</p>
    <p>Originally developed for LysoCare patients, this versatile platform can be adapted for various clinical trials, creating a collaborative environment where real-world treatment experiences inform better healthcare outcomes.</p>
    <p>Begin your tracking journey today and contribute to the advancement of treatment knowledge while taking control of your health.</p>
</section>

<a href="https://imgbb.com/"><img src="https://i.ibb.co/NX60fjZ/LysoCare.png"  class="d-inline-block align-top" alt="LysoCare" border="20"></a>
</body>
</html>
{% endblock %}