<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% extends 'libra/base.html' %}

{% block content %}
<html>
<body>
  <h1>Questions</h1>
  <form method="post">
    {% csrf_token %}
    <section>
      <div class="alert alert-warning">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
      {% endif %}
    </div>
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
  </form>
</section>
</body>
</html>
{% endblock %}
